<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.muno.photoalbum" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyTheme" >
        <activity
            android:name=".BaseActivities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DirectoryManagement.NewDirectory"
            android:windowSoftInputMode="adjustPan|adjustResize"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".DirectoryManagement.OpenDirectory"
            android:windowSoftInputMode="adjustPan|adjustResize"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".BaseActivities.RenameDirectory"
            android:windowSoftInputMode="adjustPan|adjustResize"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".BaseActivities.CompressAndSendDirectory"
            android:windowSoftInputMode="adjustPan|adjustResize"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".BaseActivities.SendEmailInfoActivity"
            android:windowSoftInputMode="adjustPan|adjustResize"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>
